//setup
@charset 'utf-8';

@keyframes pulse{
    from{
        opacity:1;
        transform:scale(1);
    }
    to{
        opacity:.25;
        transform:scale(.75);
    }
}

:root{
    --black:#333;
    --dark-gray:#eee;
    --right-gray:#bbb;
    --white:#fff;
    --red:red;
    --right-blue:#3ff9dc;
    --blue:#03a9f4;
    --yellow:#eae3b4;

    --base-vertical-rhythm:1vh;
    --header-height:8vh;
    --fixed-length:50px;
    --box-font-size:14px;
    --box-stroke-size:3px;
    --ui-size:4vh;
    --unit-indicator-size:6em;
    --unit-indicator-position:2rem;

    font-family:'Helvetica Neue',Arial,'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
    font-feature-settings:'pkna' 1;
    scroll-behavior:smooth;
    text-overflow:ellipsis;
    white-space:nowrap;
}

body,
header,
.box,
.ruler{
    margin:0;
    padding:0;
}

header{
    background-color:var(--black);
    color:var(--white);
    height:var(--header-height);
    left:0;
    margin-bottom:var(--base-vertical-rhythm);
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:100;

    & > *{
        margin:0 auto;
        padding:0;
    }

    &:first-child{
        padding-top:1em;
    }

    &:last-child{
        padding-bottom:1em;
    }
}

h1{
    font-size:1.5rem;
}

.box,
.ruler{
    height:var(--fixed-length);
    position:absolute;
}

.box{
    box-sizing:border-box;
    font-size:1px;

    &::before{
        color:var(--white);
        content:attr(data-name);
        font-size:var(--box-font-size);
        font-weight:bold;
        text-align:center;
        text-shadow:
        var(--box-stroke-size) var(--box-stroke-size) var(--box-stroke-size) var(--black),
        calc(-1 * var(--box-stroke-size)) calc(-1 * var(--box-stroke-size)) var(--box-stroke-size) var(--black),
        calc(-1 * var(--box-stroke-size)) var(--box-stroke-size) var(--box-stroke-size) var(--black),
        var(--box-stroke-size) calc(-1 * var(--box-stroke-size)) var(--box-stroke-size) var(--black),
        var(--box-stroke-size) 0 var(--box-stroke-size) var(--black),
        calc(-1 * var(--box-stroke-size))  0 var(--box-stroke-size) var(--black),
        0 var(--box-stroke-size) var(--box-stroke-size) var(--black),
        0 calc(-1 * var(--box-stroke-size)) var(--box-stroke-size) var(--black);
    }

    &.JP{
        background-color:var(--red);
    }
    &.cellular{
        background-color:var(--right-blue);
    }
    &.WiFi{
        background-color:var(--blue);
    }
    &.ETSI{
        background-color:var(--black);
    }
    &.ISM{
        background-color:var(--black);
    }
}

.ruler{
    background-color:rgba(255, 255, 255, .2);
    text-align:left;
    top:calc(var(--header-height) + var(--base-vertical-rhythm) + 1em);
    width:1000px;

    & > span{
        font-size:var(--box-font-size);
        text-align:left;
    }
}

#unit,
.ui{
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    color:var(--black);
    font-weight:bold;
    position:fixed;
    text-align:center;
    z-index:100;
}

#unit{
    background-color:rgba(255, 255, 255, .4);
    bottom:var(--unit-indicator-position);
    left:var(--unit-indicator-position);
    height:calc(var(--unit-indicator-size) / 2);
    width:var(--unit-indicator-size);
}

.ui{
    background-color:rgba(255, 255, 255, .4);
    bottom:var(--unit-indicator-position);
    display:grid;
    font-size:calc(var(--ui-size) * 0.8);
    grid-template-areas:
        "scalerDown scalerUp"
        "moveDown moveUp";
    height:calc(var(--ui-size) * 2);
    right:var(--unit-indicator-position);
    width:calc(var(--ui-size) * 2);

    & > button{
        border:1px solid var(--right-gray);
    }
}

#scaler-up{
    cursor:zoom-in;
    grid-area:scalerUp;
}
#scaler-down{
    cursor:zoom-out;
    grid-area:scalerDown;
}
#move-up{
    cursor:all-scroll;
    grid-area:moveUp;
}
#move-down{
    cursor:all-scroll;
    grid-area:moveDown;
}

#loading{
    background-color:rgba(255, 255, 255, .4);
    bottom:var(--unit-indicator-position);
    display:none;
    left:var(--unit-indicator-position);
    height:calc(var(--unit-indicator-size) / 2);
    position:fixed;
    width:var(--unit-indicator-size);
}
.pulse-container{
    align-items:center;
    display:flex;
    justify-content:space-between;
}
.pulse-bubble{
    background-color:var(--right-blue);
    border-radius:50%;
    height:20px;
    width:20px;
}
.pulse-bubble-1{
    animation:pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2{
    animation:pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3{
    animation:pulse .4s ease .4s infinite alternate;
}

/*@media (min-aspect-ratio: 1/1) {
    //
}*/

@media (max-aspect-ratio: 1/1) {
    #main{
        transform:rotate(90deg);
    }

    .box,.ruler{
        margin-top:calc(-2 * (var(--header-height) + var(--base-vertical-rhythm)));
    }
}