//setup
@charset 'utf-8';

:root{
    --black:#333;
    --dark-gray:#eee;
    --right-gray:#bbb;
    --white:#fff;
    --red:red;
    --right-blue:#03a9f4;

    --base-vertical-rhythm:2vh;
    --header-height:8vh;
    --fixed-length:60px;
    --box-font-size:14px;
    --ui-size:4vh;
    --unit-indicator-size:8em;
    --unit-indicator-position:2em;

    font-family:'Helvetica Neue',Arial,'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
    font-feature-settings:'pkna' 1;
    scroll-behavior:smooth;
    text-overflow:ellipsis;
    white-space:nowrap;
}

header,
.box{
    background-color:var(--black);
    color:var(--white);
}

body{
    height:100vh;
    margin:0;
    padding:0;
    width:100vw;
}

header{
    background-color:var(--black);
    height:var(--header-height);
    left:0;
    margin:0 0 var(--base-vertical-rhythm);
    padding:2em;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:100;
}

.box{
    box-sizing:border-box;
    //font-size:1px;
    font-weight:bold;
    margin:0;
    position:absolute;
    padding:0;
    text-align:center;
    vertical-align:middle;

    & > span{
        //font-size:var(--box-font-size);
        text-align:center;
    }

    &.JP{
        background-color:var(--red);
    }
    &.3GPP{
        background-color:var(--black);
    }
    &.WiFi{
        background-color:var(--right-blue);
    }
    &.ETSI{
        background-color:var(--black);
    }
    &.ISM{
        background-color:var(--black);
    }
}

.ruler{
    margin:0;
    padding:0 4em 0 0;
    position:absolute;
    text-align:left;

    & > span{
        //font-size:var(--box-font-size);
        text-align:left;
    }
}

#unit{
    background-color:rgba(255, 255, 255, .4);
    bottom:var(--unit-indicator-position);
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    color:var(--black);
    font-weight:bold;
    left:var(--unit-indicator-position);
    height:var(--unit-indicator-size);
    position:fixed;
    width:var(--unit-indicator-size);
}

.ui{
    background-color:rgba(255, 255, 255, .4);
    bottom:var(--unit-indicator-position);
    box-shadow:0 0 3vmin rgba(0,0,0,.1);
    color:var(--black);
    display:grid;
    font-size:calc(var(--ui-size) * 0.8);
    font-weight:bold;
    grid-template-areas:
        "scalerDown scalerUp"
        "moveDown moveUp";
    height:calc(var(--ui-size) * 2);
    position:fixed;
    right:var(--unit-indicator-position);
    width:calc(var(--ui-size) * 2);

    & > button{
        border:1px solid var(--right-gray);
    }
}

#scaler-up{
    grid-area:scalerUp;
}
#scaler-down{
    grid-area:scalerDown;
}
#move-up{
    grid-area:moveUp;
}
#move-down{
    grid-area:moveDown;
}

/*@media (min-aspect-ratio: 1/1) {
    //
}*/

@media (max-aspect-ratio: 1/1) {
    #main{
        transform:rotate(90deg);
    }
}